.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #FDA3C4;
  height: 103px;
}

.container {
  width: 79vw;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 380px 1fr 1fr;
  justify-content: space-between;
}

.contacts {
  display: flex;
  margin-top: 18px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.icon:last-of-type {
  margin-left: 33px;
}
